
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background: black;
    color: #fff;
}
html, body {
    width: 100%!important;
    overflow-x: hidden!important;
}
#header{
    visibility: hidden;
    width: 100%;
    height: 100vh;
    
}
.header{
    background-image: url(../myBackground/background1.webp);
    background-size: cover;
    background-attachment: fixed;
    z-index: 99;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 100%;
}
.container{
    padding: 10px 10%;
}
.nav{
    position: fixed;
    width: 100%;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    z-index: 100;
    
}
.nav.active{
    background: #010101;
    transition: all 0.5s ease;
}
.nav.active .logo,
.nav.active a{
    color: #fff;
}

.logo{
    visibility: hidden;
    height: 90px;
    padding: 15px 10%;
    font-size: 22px;
    font-weight: 100;
    margin-top: 10px;
    
}
.menu{
    visibility: hidden;
}
nav .menu li{
    margin: 10px;
    display: inline-block;
    list-style: none;
    text-transform: uppercase;
}
nav .menu li a{
    color:#fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
.nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #00fff5;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
.nav ul li a:hover::after{
    width: 100%;
}
.menu li a:hover{
    color: #00fff5;
}
.header-text{
    visibility: hidden;
    margin-top: 20%;
    font-size: 30px;
    
}
.header-text h1 {
    font-size: 60px;
    margin-top: 20px;
}
span{
    color: #00fff5;
}

.scrol{
    height: 50px;
}
/* -------about--------- */

#about{
    padding: 80px 0;
    color: #ababab;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    visibility: hidden;
    flex-basis: 35%;
    
}
.about-col-1 img{
    height: 350px;
    width: 350px;
    object-fit: cover;
    border-radius: 50%;
    
}
.about-col-2{
    visibility: hidden;
    flex-basis: 60%;
}
.sub-title{
    visibility: hidden;
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #00fff5;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 50%;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color: #00fff5;
    font-size: 15px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}
/* --------skills--------- */
#skills{
    padding: 80px 0;
    margin-top: 10px;
}
.sub-title.sub2{
    visibility: hidden;
    text-align: center;
    
}
.list-icons{
    visibility: hidden;
    display: grid;
    margin-top: 0px;
    padding: 100px ;
    padding-top: 4rem;
    gap: 1rem;
    grid-auto-rows: 5rem;
    grid-template-columns: repeat(auto-fit, minmax(min(100%,5rem),1fr));
    
}
.list-icons a{
    display: flex;
    justify-content: center;
}
.list-icons a img{
    margin: 0 20px;
    list-style: none;
    transition: transform 0.5s;
   
}
.p {
    margin-top: 10px;
    width: 100%;
}
.logos{
    font-size: 22px;
    font-weight: 100;
    width: 85px;
    height: 85px;
}
.logos.logo-react{
    width: 100px;
    height: 100px;
}
.logos.logo-node{
    width: 95px;
    height: 95px;
}
.logos.logo-redux{
    width: 90px;
    height: 90px;
}
.list-icons a .logos{
    transition: transform 0.3s;
}
.list-icons a .logos:hover{
    transform: translateY(-12px)
}
.p2{
    visibility: hidden;
    margin-top: -50px;
    margin-bottom: 100px;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* -----------services----------- */
#services{
    padding: 70px 0;
}
.services-list{
    visibility: hidden;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.sub-title.sub3{
    visibility: hidden;
}
.services-list div{
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}

.services-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}
.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.services-list div a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.services-list div:hover{
    background: #00fff5;
    transform: translateY(-10px);
    color: black;
}
.services-list div:hover a{
    color: black;
}
/* ----------porfolio--------- */
#portfolio{
    padding: 70px 0;
}
.work-list{
    visibility: hidden;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6),#00fff5);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}
.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}
.layer a{
    margin-top: 20px;
    color: black;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}
.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer{
    height: 100%;
}
.btn{
    visibility: hidden;
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #00fff5;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;
}
.btn.a{
    visibility: hidden;
}
.btn:hover{
    background: #00fff5;
    color: black;
}

/* ----------contact----------- */
#contact{
    padding: 70px 0
}
.contact-left{
    visibility: hidden;
    flex-basis: 35%;
}
.contact-right{
    visibility: hidden;
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 30px;
}
.contact-left p i{
    color: #00fff5;
    margin-right: 15px;
    font-size: 25px;
}
.social-icons{
    margin-top: 30px;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover{
    color: #00fff5;
    transform: translateY(-5px);
}
.btn.btn2{
    visibility: hidden;
    display: inline-block;
    background: #00fff5;
    color: black;
    font-size: 18px;
}
.contact-right form{
    width: 100%;
}
form input,form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}
form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
}
.copyright i{
    color: #00fff5;
}

/* -----------responsive----------- */

nav .fas{
    display: none;
}

@media screen and (max-width: 600px){
    #header{
        background-image: url(../myBackground/phone-background1.webp);
    }
    .header-text{
        margin-top: 100%;
        font-size: 16px;
    }
    .header-text h1{
        font-size: 30px;
    }
    nav .fas{
        display: block;
        font-size: 25px;
    }
    nav ul{
        background: #00fff5;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 4;
        transition: right 0.5s;
    }
    .nav ul li{
        display: block;
        margin: 25px;  
    }
    .nav ul li .a-fixed{
        color: black;
    }
    .nav ul li a:hover{
        color: #7c7c7c;
    }

    nav ul .fas{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    nav .fas.fa-times{
        color: #010101;
    }
    nav .fas.fa-times:hover{
        color: #7c7c7c;
    }
    nav .fas.fa-bars:hover{
        color: #00fff5;
    }
    .logo{  
        width: 18rem;
        height: 5rem;
    }
    .sub-title{
        font-size: 40px;
    }
    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }
    .about-col-1{
        margin-bottom: 30px;
    }
    .about-col-2{
        font-size: 14px;
    }
    .tab-links{
        font-size: 16px;
        margin-right: 20px;
    }
    .contact-left, .contact-right{
        flex-basis: 100%;
    }
    .copyright{
        font-size: 14px;
        margin-bottom: 80px;
        
    }
    .btn{
        margin: 50px ;
    }
    .social-icons{
        margin-left: 70px;
    }
    .btn.a{
        margin-left: 65px;
    }
    .p2{
        font-size: 18px;
    }
}
#msg{
    color: #00fff5;
    margin-top: -40px;
    display: block;
}

